<!DOCTYPE html>
<html>
  <head>
    <title>Currency Converter in Javascript</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
<main class="page add-product-page">
    <section class="clean-block clean-form">
        <div class="container">
            <form action="/admin/product/add-product" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="producto">Nombre Producto:</label>
                    <input type="text" class="form-control" name="producto" id="producto"></input>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="precio">Precio:</label>
                    <input type="text" class="form-control" name="precio" id="precio"></input>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="descripcion">Descripcion:</label>
                    <input type="text" class="form-control" name="descripcion" id="descripcion"></input>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="imagen">Imagen:</label>
                    <div class="mb-3">
                        <input type="file" class="form-control" name="imagen" accept="image/*">
                    </div>
                </div>


                <button type="submit" class="btn btn-info">Add Product</button>
            </form>
            <a href="/admin/dashboard">Go Back</a>
        </div>
    </section>
</main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>