<%- include('partials/_header') -%>
    <main class="page">
        <section>
            <section class="clean-block clean-info dark" style="background: rgb(0,0,0);color: rgb(0,0,0);">
                <div class="container">
                    <div class="block-heading">
                        <h2 class="text-info">Info</h2>
                        <p style="color: rgb(255,255,255);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-6"><img class="img-thumbnail" data-aos="fade-right" data-aos-duration="800" src="/resources/assets/img/scenery/Daniel.jpeg?h=0ea3c50f978a6bcf4faa8e76e24de909"></div>
                        <div class="col-md-6">
                            <h3 style="color: rgb(255,255,255);">Lorem impsum dolor sit amet</h3>
                            <div class="getting-started-info">
                                <p style="color: rgb(255,255,255);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div><button class="btn btn-outline-primary btn-lg" type="button">Join Now</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="clean-block clean-info dark" style="background: rgb(0,0,0);">
                <div class="container">
                    <div class="block-heading">
                        <h2 class="text-info">Info</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <h3 style="color: #ffffff;">Lorem impsum dolor sit amet</h3>
                            <div class="getting-started-info">
                                <p style="color: #ffffff;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div><button class="btn btn-outline-primary btn-lg" type="button" style="color: #ffffff;">Join Now</button>
                        </div>
                        <div class="col-md-6"><img class="img-thumbnail" data-aos="fade-left" data-aos-duration="800" src="/resources/assets/img/scenery/Mariana.jpeg"></div>
                    </div>
                </div>
            </section>
            <section class="clean-block clean-info dark" style="background: rgb(0,0,0);">
                <div class="container">
                    <div class="block-heading">
                        <h2 class="text-info">Info</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-6"><img class="img-thumbnail" data-aos="fade-right" data-aos-duration="800" src="/resources/assets/img/scenery/Rachel.jpeg"></div>
                        <div class="col-md-6">
                            <h3 style="color: rgb(255,255,255);">Lorem impsum dolor sit amet</h3>
                            <div class="getting-started-info">
                                <p style="color: rgb(255,255,255);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div><button class="btn btn-outline-primary btn-lg" type="button">Join Now</button>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <%- include('partials/_footer') -%>