<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact Us - Brand</title>
    <link rel="stylesheet" href="/resources/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=UnifrakturCook:">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=UnifrakturMaguntia">
    <link rel="stylesheet" href="/resources/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/resources/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/resources/assets/css/Article-List.css">
    <link rel="stylesheet" href="/resources/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/resources/assets/css/Map-Clean.css">
    <link rel="stylesheet" href="/resources/assets/css/Responsive-Image-Grid.css">
    <link rel="stylesheet" href="/resources/assets/css/Team-Boxed.css">
    <link rel="stylesheet" href="/resources/assets/css/vanilla-zoom.min.css">
<link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
    <style>
      body {
        font-family: 'Crimson Pro', serif;
        font-size: 48px;
      }
    </style>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
</head>

<body>
    
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Contact Us</h2>
                    <p>You can contact us via Email by filling the form or visit one o our social media below.</p>
                </div>
                <form>
                    <div class="mb-3"><label class="form-label" for="name">Name</label><input class="form-control" type="text" id="name" name="name"></div>
                    <div class="mb-3"><label class="form-label" for="subject">Subject</label><input class="form-control" type="text" id="subject" name="subject"></div>
                    <div class="mb-3"><label class="form-label" for="email">Email</label><input class="form-control" type="email" id="email" name="email"></div>
                    <div class="mb-3"><label class="form-label" for="message">Message</label><textarea class="form-control" id="message" name="message"></textarea></div>
                    <div class="mb-3"><button class="btn btn-primary" type="submit">Send</button></div>
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <footer class="footer-basic" style="background: #181818;">
            <div class="social"><a href="https://www.instagram.com/lucky7tattoord/" style="color: #F5D10D;"><i class="icon ion-social-instagram"></i></a><a href="https://bit.ly/Lucky7tattoo"
                style="color: #F5D10D;"><i class="icon ion-social-whatsapp"></i></a><a href="#"><i
                    class="icon ion-social-twitter" style="color: #F5D10D;"></i></a><a href="#"
                style="color: #F5D10D;"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="features">Services</a></li>
                <li class="list-inline-item"><a href="/about-us">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2017</p>
        </footer>
    </footer>
    <script src="/resources/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/resources/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/resources/assets/js/vanilla-zoom.js"></script>
    <script src="/resources/assets/js/theme.js"></script>
</body>

</html>