<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Gallery - Brand</title>
    <link rel="stylesheet" href="/resources/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=UnifrakturCook:">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=UnifrakturMaguntia">
    <link rel="stylesheet" href="/resources/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/resources/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/resources/assets/css/Article-List.css">
    <link rel="stylesheet" href="/resources/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/resources/assets/css/Map-Clean.css">
    <link rel="stylesheet" href="/resources/assets/css/Responsive-Image-Grid.css">
    <link rel="stylesheet" href="/resources/assets/css/Team-Boxed.css">
    <link rel="stylesheet" href="/resources/assets/css/vanilla-zoom.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md bg-dark clean-navbar"
        style="background: rgb(0,0,0);color: rgb(0,0,0);height: 60px;border-color: rgb(0,0,0);">
        <div class="container"><a class="navbar-brand logo" href="/"
                style="font-family: UnifrakturMaguntia, cursive;color: #F5D10D;font-size: 30px;">Lucky7Tattoo</a><button
                data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/"
                            style="color: #F5D10D;font-family: UnifrakturMaguntia, cursive;">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/features"
                            style="color: #F5D10D;font-family: UnifrakturMaguntia, cursive;border-color: #F5D10D;">Features</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/about-us"
                            style="color: #F5D10D;font-family: UnifrakturMaguntia, cursive;">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact-us"
                            style="color: #F5D10D;font-family: UnifrakturMaguntia, cursive;">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <div>
            <!--Responsive Image Grid Block-->
            <!--Photo Grid-->
            <div>
                <!--Comment-->
                <h2 class="rig-h2">Responsive Image Grid</h2>
                <p class="rig-p">Resize the browser window to see the responsive effect.</p>
                <div class="rig-row">
                    <!--Comment-->
                    <div class="rig-column"><img src="/resources/assets/img/scenery/Daniel.jpeg" style="height: 400px;">
                    </div>
                    <div class="rig-column"><img src="https://www.w3schools.com/w3images/underwater.jpg"><img
                            src="https://www.w3schools.com/w3images/ocean.jpg"></div>
                    <div class="rig-column"><img src="https://www.w3schools.com/w3images/wedding.jpg"><img
                            src="/resources/assets/img/SAMURAI%20-%20DANIEL.jpg"></div>
                    <div class="rig-column"><img src="https://www.w3schools.com/w3images/underwater.jpg"><img
                            src="https://www.w3schools.com/w3images/ocean.jpg"></div>
                </div>
            </div>
        </div>
        <footer class="text-muted footer-basic" style="background: #181818;">
            <div class="social"><a href="https://www.instagram.com/lucky7tattoord/" style="color: #F5D10D;"><i
                        class="icon ion-social-instagram"></i></a><a href="https://bit.ly/Lucky7tattoo"
                    style="color: #F5D10D;"><i class="icon ion-social-whatsapp"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/"
                        style="color: #F5D10D;font-family: UnifrakturMaguntia, cursive;">Home</a></li>
                <li class="list-inline-item"><a href="#"
                        style="color: #F5D10D;font-family: UnifrakturMaguntia, cursive;">Services</a></li>
                <li class="list-inline-item"><a href="/about-us"
                        style="color: #F5D10D;font-family: UnifrakturMaguntia, cursive;">About</a></li>
                <li class="list-inline-item"><a href="#"
                        style="color: #F5D10D;font-family: UnifrakturMaguntia, cursive;">Terms</a></li>
                <li class="list-inline-item"></li>
            </ul>
            <p class="copyright">Lucky7tattoo© 2020</p>
        </footer>
    </main>
    <script src="/resources/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/resources/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/resources/assets/js/vanilla-zoom.js"></script>
    <script src="/resources/assets/js/theme.js"></script>
</body>

</html>