<%- include('partials/_header') -%>
<main class="page login-page">
    <section class="clean-block clean-form dark" style="background: rgb(0,0,0);">
        <div class="container" style="font-family: UnifrakturMaguntia, cursive;">
            <div class="block-heading" style="color: #F5D10D;">
                <h1 style="/*color: #f5d10d;*/font-family: UnifrakturMaguntia, cursive;/*border-color: #f5d10d;*/">Log In</h1>
            </div>
            <form>
                <div class="mb-3"><label class="form-label" for="email" style="font-family: UnifrakturMaguntia, cursive;font-size: 30px;">Email</label><input class="form-control item" type="email" id="email"></div>
                <div class="mb-3"><label class="form-label" for="password" style="font-family: UnifrakturMaguntia, cursive;font-size: 30px;">Password</label><input class="form-control" type="password" id="password"></div>
                <div class="text-start"><button class="btn btn-dark text-start" type="submit" style="background: rgb(245,209,13);text-align: left;color: rgb(0,0,0);">Log In</button><button class="btn btn-dark float-end" type="submit" style="background: rgb(245,209,13);color: rgb(0,0,0);">Sign Up</button></div>
            </form>
        </div>
    </section>
</main>
    <%- include('partials/_footer') -%>