<%- include('partials/_header') -%>
<main class="page product-page">
    <section class="clean-block clean-product dark" style="background: rgb(49,52,55);">
        <div class="container">
            <div class="block-heading">
                <h1 class="display-3" style="font-family: UnifrakturMaguntia, cursive;color: #F5D10D;">Product Page</h1>
            </div>
            <div class="block-content">
                <div class="product-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="gallery">
                                <div id="product-preview" class="vanilla-zoom">
                                    <div class="zoomed-image"><img class="img-fluid small-preview" src="resources/assets/img/KITDECUIDADO.jpeg?h=0a9c217481ce5994eb15220f971bec88"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info">
                                <h2 class="display-4" style="font-family: UnifrakturMaguntia, cursive;">Kit de Cuidado</h2>
                                <div class="price">
                                    <h2>$300.00</h2>
                                </div><button class="btn btn-dark active btn-lg" type="submit"><i class="icon-basket"></i>Add to Cart</button>
                                <div class="summary" style="font-family: Montserrat, sans-serif;">
                                    <p style="font-family: Montserrat, sans-serif;">Kit de cuidado de tatuajes basico.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <div>
                        <ul class="nav nav-tabs" role="tablist" id="myTab"></ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade description" role="tabpanel" id="description">
                                <div class="row">
                                    <div class="col-md-5">
                                        <figure class="figure"><img class="img-fluid figure-img" src="tech/image3.png"></figure>
                                    </div>
                                    <div class="col-md-7">
                                        <h4>Lorem Ipsum</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade specifications" role="tabpanel" id="specifications">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="stat">Display</td>
                                                <td>5.2"</td>
                                            </tr>
                                            <tr>
                                                <td class="stat">Camera</td>
                                                <td>12MP</td>
                                            </tr>
                                            <tr>
                                                <td class="stat">RAM</td>
                                                <td>4GB</td>
                                            </tr>
                                            <tr>
                                                <td class="stat">OS</td>
                                                <td>iOS</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" role="tabpanel" id="reviews">
                                <div class="reviews">
                                    <div class="review-item">
                                        <div class="rating"><img src="star.svg"><img src="star.svg"><img src="star.svg"><img src="star.svg"><img src="star-empty.svg"></div>
                                        <h4>Incredible product</h4><span class="text-muted"><a href="#">John Smith</a>, 20 Jan 2018</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="reviews">
                                    <div class="review-item">
                                        <div class="rating"><img src="star.svg"><img src="star.svg"><img src="star.svg"><img src="star.svg"><img src="star-empty.svg"></div>
                                        <h4>Incredible product</h4><span class="text-muted"><a href="#">John Smith</a>, 20 Jan 2018</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="reviews">
                                    <div class="review-item">
                                        <div class="rating"><img src="star.svg"><img src="star.svg"><img src="star.svg"><img src="star.svg"><img src="star-empty.svg"></div>
                                        <h4>Incredible product</h4><span class="text-muted"><a href="#">John Smith</a>, 20 Jan 2018</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clean-related-items">
                    <h1 class="display-4" style="font-family: UnifrakturMaguntia, cursive;">Related Products</h1>
                    <div class="items">
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-lg-4">
                                <div class="clean-related-item">
                                    <div class="image"><a href="/Shop/product-page-targeta.html"><img class="img-fluid d-block mx-auto" src="resources/assets/img/Giftcard.jpg?h=2bc59d5c216a737fb8abcd4c4cb7c195"></a></div>
                                    <div class="related-name"><a href="/Shop/catalog-page.html" style="color: rgb(0,0,0);font-family: UnifrakturMaguntia, cursive;">Targeta de Regalo</a>
                                        <div class="rating"></div>
                                        <h4 style="color: rgb(0,0,0);">$300</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
    <%- include('partials/_footer') -%>