<img src="/resources/uploaded/<%=productData[0].imagen%>">
<h4>Nombre Producto: <%= productData[0].producto %></h4>
<h4>Precio Producto:<%= productData[0].precio %></h4>
<h4>Descripcion del Producto:<%= productData[0].descripcion %></h4>
<a href="/admin/product">Go back</a>
